* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    max-width: 1446px;
    background-color: #cef7e9;
    margin: 0 auto;
    padding: 30px 40px;
    height: 100vh;
}

.img {
    width: 100%;
    max-height: 75vh;
}

.container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    font-size: 30px;
}

.control {
    display: flex;
    justify-content: flex-end;
}


.cont1_1, .cont1_2, .cont1_3, .cont1_4 {
    width: 60px;
    height: 60px;
    background-color: #cef7e9;
    cursor: pointer;
    border-radius: 40px;
}

.cont2_1, .cont2_2, .cont2_3, .cont2_4 {
    width: 30px;
    height: 30px;
    background-color: grey;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 15px;
}

.cont2_1:hover {
    background-color: #DAD8D2;
}

.cont2_1.act:hover {
    background-color: white;
}

.cont2_2:hover {
    background-color: #DAD8D2;
}

.cont2_2.act:hover {
    background-color: white;
}

.cont2_3:hover {
    background-color: #DAD8D2;
}

.cont2_3.act:hover {
    background-color: white;
}

.cont2_4:hover {
    background-color: #DAD8D2;
}

.cont2_4.act:hover {
    background-color: white;
}

.act {
    background-color: white;
    border: 1px solid grey;
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        flex-direction: column;        
    }

    .text {
        margin-top: 20px;
        order: 2;
    }
    
    .control {
        order: 1;
        margin: 0 auto;
    }

}